name: Test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test-linux:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
      - run: sudo chmod 440 /etc/sudoers.d/runner
      - run: sudo npm install -g matterbridge --omit=dev
      - run: npm ci
      - run: npm run build
      - run: sudo npm link
      - run: |
          mb-service -h
          mb-service --help
      - run: |
          mb-service -v
          mb-service --version
      - run: sudo mb-service install
      - run: mb-service pid && systemctl status matterbridge
      - run: sleep 10
      - run: curl http://localhost:8283/
      - run: sudo mb-service uninstall
      - run: matterbridge -factoryreset
      - run: sudo mb-service install --frontend 8383
      - run: sleep 10
      - run: curl http://localhost:8383/
      - run: sudo mb-service uninstall
  test-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 24.x
      - run: npm install -g matterbridge --omit=dev
      - run: npm ci
      - run: npm run build
      - run: npm link
      - run: |
          mb-service -h
          mb-service --help
      - run: |
          mb-service -v
          mb-service --version
      - run: |
          sudo chown -R root:wheel "$(npm prefix -g --silent)/lib/node_modules"
          ls -la "$(npm prefix -g --silent)/lib"
      - run: sudo mb-service install
      - run: |
          test -w "$(npm prefix -g --silent)/lib/node_modules"
          ls -la "$(npm prefix -g --silent)/lib"
      - run: mb-service pid && launchctl print system/matterbridge
      - run: sleep 10
      - run: curl http://localhost:8283/
      - run: sudo mb-service uninstall
      - run: matterbridge -factoryreset
      - run: sudo mb-service install --frontend 8383
      - run: sleep 10
      - run: curl http://localhost:8383/
      - run: sudo mb-service uninstall
      - run: matterbridge -factoryreset
      - name: Log Rotation
        run: |
          dd if=/dev/zero of=$HOME/.matterbridge/matterbridge.log bs=1M count=11
          ls -la ~/.matterbridge
          sudo mb-service install
          sleep 5
          ls -la ~/.matterbridge
          test -f ~/.matterbridge/matterbridge.log.bakk
